@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --fonte-xpunto1: 'Montserrat', Arial, sans-serif;
    --fonte-xpunto2: 'Gothan', Verdana, Arial;
    --fonte-destaque: 'Bebas Neue', Arial;
    --solirario: #981310;
    --comercial: #65A99B;
    --locacao: #E7BE20;
    --pessoal: #DD5D11;
    --permuta: #183F47;
    --profissional: #367687;
}

div img {
    width: 200px;
    background-color: white;
    box-shadow: 1px 2px 3px rgba(76, 76, 76, 0.593);
}

h1,
h2 {
    font-size: 1.5em;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    color: white;
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 2px 2px 0px rgb(91, 91, 91);
    letter-spacing: 1px;
}

img {
    border-radius: 20px;
    max-width: 85%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 1px 2px 2px rgba(53, 53, 53, 0.655);
}

.web {
    width: 90.5%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 21px;
}

.web img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.fale {
    width: 100%;
    height: 200px;
    display: flex;
    margin-top: 30px;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fale img {
    max-width: 100%;
    max-height: 100%;
}

.main {
    /*max-width: 100%;*/
    text-align: center;
    color: white;
    font-family: var(--fonte-xpunto1);
    min-width: 300px;
    /*max-width: 600px;*/
    margin: auto;
    padding: auto;
    display: block;
    border-radius: 20px;
    box-shadow: 3px 3px 15px rgb(69, 69, 69);
}

body {
    margin: auto;
    max-width: 900px;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #65a99b, #65A99B);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex direction:column;
    */
}

.image-group {
    display: flex;
    justify-content: space-around;
    /* Distribui as imagens uniformemente na linha */
    align-items: center;
    flex-wrap: wrap;
    /* Permite que as imagens quebrem para a próxima linha se não houver espaço suficiente */
}

.image-container {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.image-container img {
    max-width: 100%;
    /* Para garantir que a imagem seja responsiva */
    border-radius: 10px;
    width: 150px;
    /* Defina o tamanho desejado */
    height: auto;
    /* Mantenha a proporção original da imagem */
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 75%;
    /* Ajuste conforme necessário */
    padding-top: 5%;
    /* Proporção para vídeos 16:9 (altura/largura) */
    margin: 0 auto;
    /* Centraliza horizontalmente */
}

.imagem-clicavel {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

div-branca {
    border-radius: 0px;
    background-color: #183f47;
}

.social-buttons a {
    margin-left: 40px;
    margin-right: 40px;
    width: 30px;
    height: 59px;
}

section.imagens {
    position: relative;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

section.imagens img {
    width: 50%;
    border-radius: 15px;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 2px rgba(14, 13, 13, 0.447);
}

section#img01 {
    background-image: url('../imagens/Aurora.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    max-width: 80%;
    margin: auto;
    text-align: left;
    font-size: 1.5em;
    padding: 15px;
}

.main-nav {
    border-radius: none;
    background-color: var(--locacao);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 7px 9px rgba(30, 30, 30, 0.785);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    /* Centraliza os itens verticalmente */
}

.nav-group {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 15px;
    /* Adicione ou ajuste o valor do gap para controlar o espaço entre os itens */
}

.nav-link {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    transition-duration: .1s;
    position: relative;
    align-items: center;
    justify-content: center;
    font-size: 2.8vw;
}

.nav-link:not(:first-child)::before {
    content: "";
    position: absolute;
    left: 5px;
    color: white;
}

.nav-link.active,
.nav-link:hover {
    background-color: #981310;
    border-radius: 5px;
    color: #ffffff;
}

/* Adicione as regras ao seu arquivo style.css */

footer {
    border-radius: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* Empilha os elementos verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
}

.logo-footer {
    max-width: 500px;
    border-radius: 20px;
    margin: 1px;
    /* Adiciona margem na parte inferior e centraliza o logo */
}

/* Adicione essas regras ao seu arquivo style.css */

.facebook-icon img,
.instagram-icon img {
    border-radius: 1px;
    /* ou o valor desejado para o border-radius */
    max-width: 150%;
    /* Garante que a imagem seja responsiva */
    height: auto;
    /* Mantém a proporção original da imagem */
    margin-top: 10px;
}

a:not(.facebook-icon):not(.instagram-icon) {
    /* Estilos para outros ícones que não são do Facebook ou Instagram */
    /* Se necessário, ajuste conforme desejado */
}

#myVideo {
    display: none;
}